<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header>
      <ion-label> Datos de la Ubicacion </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input placeholder=" Puerto Plata" type="text" [(ngModel)]="nombre" name="nom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Latitud</ion-label>
      <ion-input placeholder=" 19.801154158829164" type="number" [(ngModel)]="latitud" name="lat"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Longitud</ion-label>
      <ion-input placeholder=" -70.71492215457017" type="number" [(ngModel)]="longitud" name="lng"></ion-input>
    </ion-item>
    <div style="text-align: center !important;" class="m-btn">
      <ion-button shape="round" (click)="buscar()" class="center" color="success">
        Buscar
        <ion-icon slot="end" name="search"></ion-icon>
      </ion-button>
    </div>
  </ion-list>
</ion-content>