<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon name="location-outline" class="ion-padding"></ion-icon>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-button expand="block" shape="round" (click)="clickBuscar()">
    <ion-icon name="search" slot="end"></ion-icon>
    Buscar en el Mapa
  </ion-button>
</ion-content>